name: Auto Deploy Bot

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to Timeweb Server
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd /home/git/fleet-live-bot
          
          git pull origin main
          
          docker-compose down
          docker-compose up -d --build
          
          docker-compose ps
          
          echo "✅ Деплой завершён!"
          
          exit 0
